@page "/"

<PageTitle>Home</PageTitle>

<div class="text-center">
    <div>

        <button class="ButtonClother"> </button>
        <button class="ButtonShoes"> </button>
        <button class="ButtonEquipment"> </button>
        <button class="ButtonEquipment"> </button>
        <button class="ButtonNutrition"> </button>

    </div>


</div>
