@page "/"
@inject NavigationManager navigationManager
@rendermode InteractiveServer
<PageTitle>Home</PageTitle>

<div class="text-center">
    <div>

        <button @onclick="ClickClother" class="ButtonClother"> </button>
        <button @onclick="ClickShoes" class="ButtonShoes"> </button>
        <button @onclick="ClickEquipment" class="ButtonEquipment"> </button>
        <button @onclick="ClickAccessories" class="ButtonAccessories"> </button>
        <button @onclick="ClickNutrition" class="ButtonNutrition"> </button>

    </div>


</div>

@code{
    public void ClickClother(){
        navigationManager.NavigateTo("/Catalog/1");
    }

    public void ClickShoes()
    {
        navigationManager.NavigateTo("/Catalog/2");
    }

    public void ClickEquipment()
    {
        navigationManager.NavigateTo("/Catalog/3");
    }

    public void ClickAccessories()
    {
        navigationManager.NavigateTo("/Catalog/4");

    }

    public void ClickNutrition()
    {
        navigationManager.NavigateTo("/Catalog/5");
    }
}