@page "/LogSystem"

@using Microsoft.EntityFrameworkCore
@using MolotovSportWeb.Models
@using Classes.Hash;
@using System.Collections.Generic;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Authentication.Cookies;

@rendermode InteractiveServer
@inject Classes.Servers.UserStateService UserState
@inject NavigationManager navigationManager
@inject IHttpContextAccessor HttpContextAccessor



<div class="text-center">
    <div class="ScreenLogUser">
        <h2 class="textHeaderPage">Авторизация</h2>
        <br />
        <h5 class="textScreenInput">Email </h5>
        <br />
        <input class="StyleInputRegistation" @bind=email />
        <br />
        <h5 class="textScreenInput">Пароль </h5>
        <br />
        <input type="password" class="StyleInputRegistation" @bind=password />
        <br />
        <button @onclick="Login" class="StyleButtonVhod">Войти</button>
        <br />
        <a href="/Registration" class="textScreenInputRegistation">Зарегистироваться</a>
        <h5 style="color: red">@error</h5>
    </div>



</div>
@code{

    string text = "";

    string email;
    string password;

    string error = "";

    string nameUser ="";
    int idUser = 0;
    int idRole = 0;


    bool UserTruePassword()
    {
        using (var context = new MolotovSportWebContext())
        {
            try
            {
                var User = context.Users.Where(x => x.Email == email).First();

                HashPassword hashPassword = new HashPassword();

                bool cheak = hashPassword.unHashing(password, User.Salt, User.PasswordHash);




                nameUser = User.UserName;
                idUser = User.UserId;
                idRole = User.RoleId;


                return cheak;
            }
            catch
            {
                return false;
            }


        }
    }


    private async Task Login()
    {
        if (UserTruePassword())
        {
            error = "";
            UserState.Login(nameUser, idUser, idRole);
            if (idRole == 1)
            {
                navigationManager.NavigateTo($"/");
            }
            else if (idRole == 2)
            {
                navigationManager.NavigateTo($"/Admin");
            }
        }
        else
        {
            error = "Неверный email или пароль";
        }





    }
}

}