@page "/LogSystem"

<div class="text-center">
    <div class="ScreenLogUser">

        <h5 class="textScreenInput">Логин </h5>
        <br />
        <input class="StyleInputRegistation" />
        <br />
        <h5 class="textScreenInput">Пароль </h5>
        <br />
        <input class="StyleInputRegistation" />
        <br />
        <button class="StyleButtonVhod">Войти</button>
        <br />
        <a href="/Registration" class="textScreenInputRegistation">Зарегистироваться</a>
    </div>



</div>
@code {

}
