@page "/LogSystem"

@rendermode InteractiveServer
@inject Classes.Servers.UserStateService UserState
@inject NavigationManager navigationManager

<div class="text-center">
    <div class="ScreenLogUser">

        <h5 class="textScreenInput">Логин </h5>
        <br />
        <input class="StyleInputRegistation" />
        <br />
        <h5 class="textScreenInput">Пароль </h5>
        <br />
        <input class="StyleInputRegistation" />
        <br />
        <button @onclick="ClickVhod" class="StyleButtonVhod">Войти</button>
        <br />
        <a href="/Registration" class="textScreenInputRegistation">Зарегистироваться</a>
        <h1>@text</h1>
    </div>



</div>
@code{
    string text = "";
    public void ClickVhod()
    {
        UserState.Login();
        navigationManager.NavigateTo($"/");
    }

}