@page "/MakingOrderUser"
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@using Microsoft.EntityFrameworkCore
@using MolotovSportWeb.Models

@inject MolotovSportWebContext context
@inject Classes.Servers.UserStateService UserState
@inject Components.Classes.Servers.YandexGeocoderService GeocoderService



<script src="js/deliveryCalculator.js?v=1.1" type="text/javascript" v=2.0></script>

<div class="ScreenLogUser">
    <div class="text-center">
        <h2 class="textHeaderPage">Выберите адрес</h2>


        <div  class="text-center" style="height: 500px; margin: 0px 0px 0px 780px;" id="map"></div>


        <p>@location</p>
        <br>
        <p>@anwer</p>

        <button @onclick="ClickNewOrder" class="StyleButtonVhod">Оформить заказ</button>
    </div>

</div>



@code {

    bool cheak = false;
    string location { get; set; } = "sssss";
    string anwer = "sss1";


    protected override void OnAfterRender(bool firstRender)
    {
        StateHasChanged();
    }


    // async Task getLocationFromJS()
    // {
    //     location = await JSRuntime.InvokeAsync<string>("getLocation");

    //     string[] array = location.Split('|');


    //     string[] coordinate =  array[0].Split(',');


    //     // double Longitude = ; // Default value
    //     // double Latitude = Convert.ToDouble(coordinate[1]); // Default value
    //     anwer = Convert.ToString(coordinate.Length);
    //     string adress = "";





    // }

    int idUser = 0;

    protected override void OnParametersSet()

    {






        idUser = UserState.CheakUserId();
    }


    public async Task ClickNewOrder()
    {
        location = await JSRuntime.InvokeAsync<string>("getLocation");

        Classes.DataBase.CreateOrder createOrder = new Classes.DataBase.CreateOrder(idUser);

        createOrder.Create(location);

        navigationManager.NavigateTo("/");
    }

 
}


