@page "/MakingOrderUser"
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@using Microsoft.EntityFrameworkCore
@using MolotovSportWeb.Models

@inject MolotovSportWebContext context
@inject Classes.Servers.UserStateService UserState

<script src="js/deliveryCalculator.js" type="text/javascript"></script>

<div class="ScreenLogUser">
    <div class="text-center">
        <h2 class="textHeaderPage">Выберите адрес</h2>

            <div class="text-center" style="height: 500px; margin: 0px 0px 0px 780px;" id="map"></div>

    
        <p>@location</p>
        <button @onclick="ClickNewOrder" class="StyleButtonVhod">Оформить заказ</button>
    </div>

</div>



@code {
    bool cheak = false;
    string location { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        StateHasChanged();
    }


    async Task getLocationFromJS()
    {
        location = await JSRuntime.InvokeAsync<string>("getLocation");
    }

    int idUser = 0;
    string adress = "Г. Березовский, ул. Красных героев 11, кв 41";

    protected override void OnParametersSet()

    {
        idUser = UserState.CheakUserId();
    }


    public void ClickNewOrder()
    {
        Classes.DataBase.CreateOrder createOrder = new Classes.DataBase.CreateOrder(idUser);

        createOrder.Create(adress);

        navigationManager.NavigateTo("/");
    }
}