@inject NavigationManager navigationManager
@inject Classes.Servers.UserStateService UserState


@inherits LayoutComponentBase

<div class="page">
    <header>

        <div class="headerDesing">

            <div>
                <img src="/images/logo.png" height="100" />
            </div>


            <div>
                <a style="color:#ffffff" class="EnterText">@UserState.AuthState</a>
            </div>

        </div>

        <div class="blackHeader">
            <a class="MenuText" style="color:#ffffff" href="/Admin">Редактирование</a>
            <a class="MenuText" style="color:#ffffff" href="/Warehouse">Склад</a>
            <a class="MenuText" style="color:#ffffff" href="/OrdersAdmin">Заказы</a>
        </div>


    </header>


    <div class="content px-4">
        @Body
    </div>
</div>


@code{
    protected override void OnInitialized()
    {
        UserState.OnChange += StateHasChanged;
    }
    }