

<header>

    <div class="headerDesing">

        <div>
            <img src="/images/logo.png" height="100" />
        </div>

        <div>

            <input type="text" class="searchText">
            <button class="searchImage"></button>
        </div>
        <div>
            <a style="color:#ffffff" class="EnterText" href="/LogSystem">Войти</a>
            <button class="ShopCartImage"></button>
        </div>

    </div>

    <div class="blackHeader">
        <a class="MenuText" style="color:#ffffff" href="/">Каталог</a>

        <a class="MenuText" style="color:#ffffff" href="/ClotherCatalog">Одежда</a>
        <a class="MenuText" style="color:#ffffff" href="#">Обувь</a>
        <a class="MenuText" style="color:#ffffff" href="#">Инвентарь</a>
        <a class="MenuText" style="color:#ffffff" href="#">Аксессуары</a>
        <a class="MenuText" style="color:#ffffff" href="#">Питание</a>
    </div>



</header>

