@inject NavigationManager navigationManager
@rendermode InteractiveServer
@inject Classes.Servers.UserStateService UserState


<header>

    <div class="headerDesing">

        <div>
            <img src="/images/logo.png" height="100" />
        </div>

        <div>

            <input type="text" class="searchText" @bind="searchText">
            <button @onclick="ClickSearch" class="searchImage"></button>
        </div>
        <div>
            <a style="color:#ffffff" class="EnterText" @onclick="ClickVhod">@UserState.AuthState</a>
            <button @onclick="ClickBacket" class="ShopCartImage"></button>
        </div>

    </div>

    <div class="blackHeader">
        <a class="MenuText" style="color:#ffffff" href="/">Каталог</a>

        <a class="MenuText" style="color:#ffffff" href="/Catalog/1">Одежда</a>
        <a class="MenuText" style="color:#ffffff" href="/Catalog/2">Обувь</a>
        <a class="MenuText" style="color:#ffffff" href="/Catalog/3">Инвентарь</a>
        <a class="MenuText" style="color:#ffffff" href="/Catalog/4">Аксессуары</a>
        <a class="MenuText" style="color:#ffffff" href="/Catalog/5">Питание</a>
    </div>


</header>



@code{


    string searchText = "";

    public void ClickSearch()
    {
        if (searchText.Length > 0 && searchText != ".")
        {
            navigationManager.NavigateTo($"/SearchPage/{searchText}");
            searchText = "";
        }


    }
    protected override void OnInitialized()
    {
        UserState.OnChange += StateHasChanged;
    }

    public void ClickBacket(){
        navigationManager.NavigateTo($"/BasketPage");
    }




    public  void ClickVhod()
    {
        if (!UserState.cheakAuthState())
        {
            navigationManager.NavigateTo($"/LogSystem");
        }
        else
        {

            //переход в личный кабинет
            navigationManager.NavigateTo($"/Account");
        }
    }


    
}

