@page "/AddNewFirm"
@layout Layout.AdminLayot;

@rendermode InteractiveServer
@inject NavigationManager navigationManager
@using Microsoft.EntityFrameworkCore
@using MolotovSportWeb.Models

@inject MolotovSportWebContext DbContext
@inject Classes.Servers.UserStateService UserState

<div class="text-center">
    <div class="ScreenLogUser">
        <h2 class="textHeaderPage">Редактирование списка фирм</h2>
        <br />
        <h5 class="textScreenInput">Название фирмы</h5>
        <br />
        <div>
            <input class="StyleInputRegistation" @bind="nameFirm" />
            <h5 style="color: red">@error</h5>
            <button @onclick="ClickAddNewFirm" class="AdminButtonAddProduct">Добавить</button>
        </div>

        <div class="PrintFirmForAdmin">
            <table class="tableFirmsAdmin">

                @foreach (var firm in firms)
                {
                    <tr class="table_center_by_css">
                        <td class="BorderTable">
                            <pre class="TextFirmForAdmin">@firm.FirmName</pre>

                        </td >

                        <td @onclick="() => DeleteClick(firm.FirmId)" class="BorderTable">
                            <button  class="ButtonDeleteListView"></button>
                        </td>
                    </tr>
                }

            </table>
        </div>

    </div>
</div>

<pre>@cheak</pre>

@code {
    string nameFirm = "";
    string error = "";

    string cheak = "s";

    Classes.DataBase.FilrtAndSorted filrtAndSorted;
    Classes.DataBase.AddInfo addInfo;
    List<Firm> firms = new List<Firm>();

    protected override async Task OnInitializedAsync()
    {
        addInfo = new Classes.DataBase.AddInfo();
        filrtAndSorted = new Classes.DataBase.FilrtAndSorted(-1);
        firms = filrtAndSorted.ActualyFirm();
    }

    public void ClickAddNewFirm()
    {
        if(nameFirm.Length != 0)
        {
            Classes.DataBase.AddInfo addProduct = new Classes.DataBase.AddInfo();
            addProduct.AddFirm(nameFirm);
            nameFirm = "";
            StateHasChanged();
        }
        else
        {
            error = "Заполните название";
        }
    }

    public void DeleteClick(int idFirm)
    {
        cheak = idFirm.ToString();
        addInfo.DeleteFirm(idFirm);
        firms.Clear();
        firms = filrtAndSorted.ActualyFirm();
        StateHasChanged();
    }
}
