@page "/Admin"
@layout Layout.AdminLayot;
@rendermode InteractiveServer

@inject NavigationManager navigationManager



<div class="ScreenLogUser">
    <div class="text-center">
        <h2 class="textHeaderPage">Редактирование</h2>
    </div>

</div>


<div class="AdminScreen">
    <button @onclick="clickProduct" class="AdminGlavButton">Товары</button>
    <button @onclick="CLickCategoryMini" class="AdminGlavButton">Подкатегории</button>
    <button @onclick="ClickFirms" class="AdminGlavButton">Фирмы</button>
</div>

@code {

    public void clickProduct()
    {
        navigationManager.NavigateTo($"/ProductAdmin");
    }

    public void CLickCategoryMini()
    {
        navigationManager.NavigateTo("/AddNewCategoryMini");
    }

    public void ClickFirms()
    {
        navigationManager.NavigateTo("/AddNewFirm");
    }


}
