@page "/Admin"
@layout Layout.AdminLayot;

<div class="AdminScreen">
    <button class="AdminGlavButton">Товары</button>
    <button class="AdminGlavButton">Подкатегории</button>
    <button class="AdminGlavButton">Фирмы</button>
</div>

@code {

}
