<!DOCTYPE html>
<html lang="en">

<head>



    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css?v=17.0" />
    <link rel="stylesheet" href="MolotovSportWeb.styles.css" />
    <link rel="icon" type="image/png" href="logoWeb.png" />

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=16bc456d-419e-42b8-8466-a6b4f2a01e25" type="text/javascript"></script>
    <HeadOutlet />
</head>

<body>
    <Routes />



    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_framework/blazor.web.js"></script>



</body>

</html>
